<p id="notice"><%= notice %></p>

<h1>Daily Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Daily</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_attachments.each do |daily_attachment| %>
      <tr>
        <td><%= daily_attachment.daily_id %></td>
        <td><%= daily_attachment.avatar %></td>
        <td><%= link_to 'Show', daily_attachment %></td>
        <td><%= link_to 'Edit', edit_daily_attachment_path(daily_attachment) %></td>
        <td><%= link_to 'Destroy', daily_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Attachment', new_daily_attachment_path %>
