<p id="notice"><%= notice %></p>

<p>
  <strong>Daily:</strong>
  <%= @daily_attachment.daily_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @daily_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_daily_attachment_path(@daily_attachment) %> |
<%= link_to 'Back', daily_attachments_path %>
