<div class="col-lg-6 col-sm-6">
  		<article class="blog-post" data-id="<%=diary.id%>">
  			<div class="featured-post">
  				<%= link_to image_tag(diary.profile_img) , diary_dailies_path(diary.id) %>
  			</div><!-- /.featured-post -->
  			<div class="content-post">
  				<div class="entry-post">
  					<ul class="entry-meta">
  						<li class="date">
  							<%= diary.updated_at %>
  						</li>
  					</ul>
  					<h2 class="entry-title">
  						<%= diary.title %>
  					</h2>
  				</div>
  				<p>
  					<%= diary.content %>
  				</p>
  				<%= diary.likes.count %>
  				<% if diary.liking_users.include? current_user %>
  				    <%= link_to "좋아요 취소", like_path(diary), method: :POST %>
  				<% else %>
  				    <%= link_to "좋아요", like_path(diary), method: :POST %>
  				<% end %>
  			</div><!-- /.content-post -->
  		</article><!-- /.blog-post -->
  		
</div><!-- /.col-lg-3 col-sm-6 -->
