<%= form_with(model: diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
	<div class="row">
		<div class="col-md-12">
		  
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field"> 
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :diary_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :diary_end_date %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :diary_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :diary_content %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.number_field :budget, id: :diary_budget %>
  </div>

  <div class="field">
    <%= form.label :start_city %>
    <%= form.text_field :start_city, id: :diary_start_city %>
  </div>

  <div class="field">
    <%= form.label :end_city %>
    <%= form.text_field :end_city, id: :diary_end_city %>
  </div>

  <div class="field">
    <%= form.label :country_count %>
    <%= form.number_field :country_count, id: :diary_country_count %>
  </div>

  <div class="field">
    <%= form.label :eurail %>
    <%= form.check_box :eurail, id: :diary_eurail %>
  </div>
  
  <div class="field">
    <%= form.label :secret %>
    <%= form.check_box :secret, id: :diary_secret %>
  </div>
  
  <div class="field">
      <%= form.file_field :profile_img, accept: 'image/jpeg, image/gif, image/png' %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
  
  </div>
  </div>
  </div>
<% end %>
