<!-- Single Popular Course -->
<div class="col-12 col-md-6 col-lg-4">
    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
        <img src= "<%= diary.profile_img %>" alt="">
        <!-- Course Content -->
        <div class="course-content">
            <div class="meta d-flex align-items-center", style="color:#A6A6A6;">
                기간 : <%= diary.start_date.month%>월 <%= diary.start_date.day%>일 ~ <%= diary.end_date.month%>월 <%= diary.end_date.day%>일 
                <br>인아웃 : <%= diary.start_city%> - <%= diary.end_city%>
                <br>여행 한 국가 : <%= diary.country_count %> 개국
                <br>총 예산 : <%= diary.budget %> 원
                <% if diary.eurail %>
                    <br>유레일 : 사용 
                <% else %>
                    <br>유레일 : 미사용
                <% end %>
                
            </div>
            <span class="diary_title"><%= diary.title %></span>
            </br><br>
            <p><%= diary.content %></p>
        </div>
        <!-- Seat Rating Fee -->
        <div class="seat-rating-fee d-flex justify-content-between">
            <div class="seat-rating h-100 d-flex align-items-center">
                <div class="seat">
                   <span><%= diary.likes.count %></span>
                    <% if diary.liking_users.include? current_user %>
  				        <%= link_to "좋아요 취소", like_path(diary), method: :POST, remote: true %>
          			<% else %>
          				<%= link_to "좋아요", like_path(diary), method: :POST, remote: true %>
          			<% end %>
                </div>
                <div class="rating">
                    <%= diary.user.email.split('@')[0] %>
                </div>
                <div class="seat">
                    <% if diary.secret %>
                        숨김
                    <% end %>
                </div>
            </div>
            <div class="course-fee h-100">
                <%= link_to 'Go', diary_dailies_path(diary) %>
            </div>
        </div>
    </div>
</div>