<div class="single-slider-4 slider-height-daily bg-img" style="background-image: url(<%=asset_path 'core-img/paris-2017-home.jpg' %>)">
	<div class="container">
		<!--<div class="breadcrumb-content text-center">-->
			<div class="row">
			    <div class="reviewer">
	  				<div class="reviewer-image">
	  					<img src= "<%= current_user.profile_img %>">
	  				</div><!-- /.reviewer-image -->
	  				<div class="reviewer-info">
	  					<h5 class="name"><%= current_user.email %></h5>
	  					<span>Traveler</span>
	  					<ul class="social-re">
	  						<li>
	  							<a href="#" title="">
	  								<i class="ti-facebook" aria-hidden="true"></i>
	  							</a>
	  						</li>
	  						<li>
	  							<a href="#" title="">
	  								<i class="ti-twitter-alt" aria-hidden="true"></i>
	  							</a>
	  						</li>
	  						<li>
	  							<a href="#" title="">
	  								<i class="ti-instagram" aria-hidden="true"></i>
	  							</a>
	  						</li>
	  						<li>
	  							<a href="#" title="">
	  								<i class="ti-google" aria-hidden="true"></i>
	  							</a>
	  						</li>
	  						<li>
	  							<a href="#" title="">
	  								<i class="ti-pinterest" aria-hidden="true"></i>
	  							</a>
	  						</li>
	  					</ul>
	  				</div><!-- /.reviewer-info -->
	  			</div><!-- /.reviewer -->
	  			<div class="plus_button">
	  				<h2 style="color:white;"><%=link_to '+ Plus Diary', new_diary_path %></h2>
	  			</div>
  			</div>
		<!--</div>-->
	</div>
</div>


<section class="flat-row flat-main-blog">
	<div class="container" >
	  <div class="row">
  		
  		<div class="height50"></div>
  		
  		
  		<div class="row col-lg-9">
			<section class="flat-row flat-main-blog", style="padding:0px;">
				<div class="container" >
				  <div class="row">
			  		<!--<section class="popular-courses-area section-padding-100-0" >-->
					    <div class="container">
					        <div class="row">
					            <% @diaries.each do |diary| %>
					  				<% if current_user.id == diary.user_id %> <!-- current_user 라면 -->
								    	<%= render 'post', diary: diary %><!-- 다이어리 섹션 -->
								    <% end %>
								<% end %>
					        </div>
					    </div>
					<!--</section>-->
					</div><!-- /.row -->
					
					<div class="height50"></div>
				</div><!-- /.container -->
			</section><!-- /.flat-main-blog -->
  			
  		</div>
		</div><!-- /.row -->
		
		<div class="height50"></div>
	</div><!-- /.container -->
</section><!-- /.flat-main-blog -->

<%= render 'shared/modal1' %>
<%= render 'shared/modal2' %>
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<script>
    $(".blog-post").mouseover(function(){
    	var id = $(this).data('id');
        $(`.diary_info[data-id=${id}]`).show();
    });
    
    $(".blog-post").mouseout(function(){
      	var id = $(this).data('id');
        $(`.diary_info[data-id=${id}]`).hide();
    });
</script>