<div class="single-slider-4 slider-height-daily bg-img" style="background-image: url(<%=asset_path 'core-img/comm1.png' %>)">
	<div class="container">
		<div class="breadcrumb-content text-center">
			    <h2>Community</h2>
		</div>
	</div>
</div>


<section class="flat-row flat-main-blog">
	<div class="container" >
	  <div class="row">
			    <div class="col-12">
                <div class="section-title text-center mb-60">
                    <h3>모두의 Diary</h3>
                </div>
            </div>
    <div class="container">
        <div class="row">
            <!-- render 시키는 곳 -->
            <% @diaries.each do |diary| %>
              <% if !diary.secret %>
                <%= render 'post', diary: diary %>
              <% end %>
            <% end %>
        </div>
    </div>
		</section>
		</div><!-- /.row -->
		
		<div class="height50"></div>
	</div><!-- /.container -->
</section><!-- /.flat-main-blog -->

<%= render 'shared/modal1' %>
<%= render 'shared/modal2' %>
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<% end %>
