var current_like_button = $("a[href='/diaries/<%=@id%>/like']");
var count = current_like_button.prev();
<% if @like.nil? %>
    var new_like_button = "<%=j(link_to "좋아요 취소", like_path(@id), method: :POST, remote: true)%>";
    var new_count = parseInt(count.text()) + 1;
<% else %>
  	var new_like_button = "<%=j(link_to "좋아요", like_path(@id), method: :POST, remote: true)%>";
  	var new_count = parseInt(count.text()) - 1;
<% end %>
count.text(new_count)
current_like_button.replaceWith(new_like_button)
