<header>
    <div class="header-top-furniture wrapper-padding-2 res-header-sm">
        <div class="container-fluid">
            <div class="header-bottom-wrapper">
                <div class="logo-2 furniture-logo ptb-30">
                    <a href="/">
                        <img src="<%=asset_path 'logo/res.png' %>" alt="">
                    </a>
                </div>
                <div class="menu-style-2 furniture-menu menu-hover">
                    <nav>
                        <ul>
                            
                            <li>
                                <% if user_signed_in? %>
                                <%= link_to "My Diary", diaries_path  %>
                                <% else %>
                                <%= link_to "My Diary", user_google_oauth2_omniauth_authorize_path  %>
                                <% end %>
                            </li>   
                            <li>
                                <%= link_to 'Community', diary_community_path %>
                            </li>
                            <li><%= link_to 'About', about_path %></li>
                            <li>
                                <% if !user_signed_in? %>
                                    <%= link_to "Login", user_google_oauth2_omniauth_authorize_path %>
                                <% else %>
                                    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                                <% end %>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
           
        </div>
    </div>
</header>