<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider-4 slider-height-6 bg-img" style="background-image: url(<%=asset_path 'slider/bg1.png' %>)">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="furniture-content fadeinup-animated text-center">
                            <h2 class="animated"> 당신의 여행을 기록하세요</h2>
                            <p class="animated">Travel Diary 로 여행을 현실로 만들어 보세요! </p>
                            <% if user_signed_in? %>
                                <%= link_to "여행 시작하기", diaries_path, class:"btn clever-btn animated"  %>
                            <% else %>
                                <%= link_to "여행 시작하기", user_google_oauth2_omniauth_authorize_path,class:"btn clever-btn animated" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-4 slider-height-6 bg-img" style="background-image: url(<%=asset_path 'slider/bg1.png' %>)">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="furniture-content fadeinup-animated text-center">
                            <h2 class="animated"> 당신의 여행을 기록하세요</h2>
                            <p class="animated">Travel Diary 로 여행을 현실로 만들어 보세요! </p>
                              <% if user_signed_in? %>
                                <%= link_to "여행 시작하기", diaries_path, class:"btn clever-btn animated"  %>
                              <% else %>
                                <%= link_to "여행 시작하기", user_google_oauth2_omniauth_authorize_path,class:"btn clever-btn animated" %>
                              <% end %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>