<div class="single-slider-4 slider-height-about bg-img" style="background-image: url(<%=asset_path 'core-img/about.png' %>)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>about us</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> about us </li>
            </ul>
        </div>
    </div>
</div>

<!-- 트레블다이어리 설명 -->
<div class="about-story pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="story-img">
                            <img src="<%=asset_path 'logo/tete.png' %>" alt="">
                        </div>
                        <div class="about-logo">
                                <h3>Travel</h3>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="story-details pl-50">
                            <div class="story-details-top">
                                <h2><span>Travel Diary</span></h2>
                                <p> Travel Diary 는 모든 여행자의 편리함을 위해 탄생했습니다. <br>여행을 가기전, 준비할 것이 너무 많아 막막할 때. <br>여행을 다녀와서 그 추억을 기록하고 싶을 때. <br> Travel Diary 가 함께합니다.</p>
                            </div>
                            <div class="story-details-bottom">
                                <h4>WE START AT 2018</h4>
                                <p>Travel Diary 는 현재 여행 기록 서비스를 제공하고 있습니다. <br> 추후, 동행 서비스도 제공할 예정입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<!-- 트레블 다이어리설명 끝 -->
<br><br><br>
<!-- Team Member -->
<div class="row">
    <div class="col-lg-12">
	    <div class="section-title text-center">
		    <h2 class="title-border">Team Member</h2>
	    </div>
    </div>
</div>
<br><br>
<!-- Team 1 & 2 -->

<div class="team-member">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><div class="single-member text-center bg-white mt-25"></div></div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			  <div class="single-member text-center about_color mt-25">
                <img src="<%=asset_path 'logo/cho.png' %>" alt="">
                <h3 class="text-uppercase mt-20">Park ChoYoung</h3>
                <h4 class="text-uppercase text-gray">Developer</h4>
                <p class="text-gray">c_y501@naver.com<br></p>
            </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			  <div class="single-member text-center about_color mt-25">
                <img src="<%=asset_path 'logo/ri.png' %>" alt="">
                <h3 class="text-uppercase mt-20">Kim Riwon</h3>
                <h4 class="text-uppercase text-gray">Developer</h4>
                <p class="text-gray">riiii1@naver.com<br></p>
            </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><div class="single-member text-center bg-white mt-25"></div></div>
	</div>
</div>

<!-- Team end -->

<br><br><br>



