<%= render 'shared/slider' %>

<!-- product area end -->

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(<%=asset_path 'core-img/texture.png' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-60">
                    <h3>실시간 인기 Diary</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <% @popular_diaries.each do |diary| %>
                <%= render 'diaries/post', diary: diary %>
            <% end %>
        </div>
    </div>
</section>
<!-- ##### Popular Courses End ##### -->



<%= render 'shared/modal1' %>
<%= render 'shared/modal2' %>
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<% end %>