<p id="notice"><%= notice %></p>

<div class="single-blog-replay">
  <div class="comment_person">
  </div>
  <div class="replay-info-wrapper">
      <div class="replay-info">
          <div class="replay-name-date">
              <h6><%= comment.user.email %></a></h6>
              <span><%= comment.created_at %></span>
          </div>
          <div class="replay-btn">
              <%= link_to('수정', edit_daily_comment_path(comment), remote: true) %>
              <%= link_to('삭제', daily_comment_path(comment), method: :delete, remote: true) %>
          </div>
      </div>
      <p><%= comment.content %></p>
  </div>
</div>