<%= form_with(model: daily_comment, local: true, remote: true, html: {style: "display: inline"}) do |form| %>
  

<div class="single-blog-replay">
  <div class="replay-info-wrapper">
      <div class="replay-info">
        <div class="field">
         <%= form.text_field :content, id: :daily_comment_content %>
          <div class="replay-btn">
              <%= form.submit %>
              </div>
          </div>
      </div>
  </div>
</div>

<% end %>