if(form.length != 0) {
    form.remove();
    content.show();
}

content = $("a[href='/daily_comments/<%=params[:id]%>/edit']").parent().parent().next();
form_temp = "<%= j(render 'form', daily_comment: @daily_comment)%>";
content.hide();
content.before(form_temp);
form = content.prev();