<p id="notice"><%= notice %></p>

<h1>Daily Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_comments.each do |daily_comment| %>
      <tr>
        <td><%= daily_comment.content %></td>
        <td><%= link_to 'Show', daily_comment %></td>
        <td><%= link_to 'Edit', edit_daily_comment_path(daily_comment) %></td>
        <td><%= link_to 'Destroy', daily_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Comment', new_daily_comment_path %>
