@import 'bootstrap';
@import 'magnific-popup';
@import 'animate';
@import 'owl.carousel.min';
@import 'themify-icons';
@import 'pe-icon-7-stroke';
@import 'icofont';
@import 'meanmenu.min';
@import 'bundle';
@import 'style';
@import 'layout';
@import 'responsive';


.etc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}