<%= form_with(model: daily, url: [diary, daily], local: true, html: { multipart: true }) do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :diary_id, value: diary.id %>

  <% if daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

      <ul>
      <% daily.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="container">	
					<div class="col-md-12">
					  <div id="owl-project-wrapper">
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, id: :daily_title %>
            </div>
          
            <div class="field">
              <%= form.label :today %>
              <%= form.date_select :today, id: :daily_today %>
            </div>
          
            <div class="field">
              <%= form.label :content,'내용' %>
              <%= form.text_area :content, id: :daily_content,class: "tinymce", cols: 20, rows: 10 %>
              <%= tinymce %>
            </div>
            
            <%= form.fields_for :daily_attachments do |p| %>
               <div class="field">
                 <%= p.label :avatar %><br>
                 <%= p.file_field :avatar, :multiple => true, name: "daily_attachments[avatar][]" %>
               </div>
            <% end %>
            
            
            <div class="field">
              <%= form.label :country %>
              <%= form.text_field :country, id: :daily_country %>
            </div>
          
            <div class="actions">
              <%= form.submit %>
            </div>
  </div>
  </div>
  </div>
<% end %>
