<div class="single-slider-4 slider-height-daily bg-img" style="background-image: url(<%=asset_path 'core-img/plan2.jpg' %>)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>My Diary</h2>
            <ul>
                <li><h3 style="color:white; font-weight:bold;"><%= @diary.title %></h3></li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-padding-top-bottom white-background">
	<div class="container">			
		<div class="sixteen columns">
			<div id="blog-filter">
				<ul id="filter">
					<li><a href="#" class="current" data-filter="*" title="">all</a></li>
					<li><a href="#" data-filter=".photo" title="">photo</a></li>
					<li><a href="#" data-filter=".gallery" title="">gallery</a></li>
					<li><a href="#" data-filter=".video" title="">video</a></li>
					<li><a href="#" data-filter=".quote" title="">quote</a></li>
				</ul>
			</div>
		</div>	
	</div>
	
	<div class="clear"></div>	

	<div id="blog-grid">
		
	<div class="blog-box-1 grey-background photo">
			<div class="date"><p>새로운 일기를 작성하려면 화면을 누르세요.</p></div>
			<div class="p-box"></div>
			<%= link_to 'Write', new_diary_daily_path, class:"animsition-link blog-link chaffle" %>
	</div>	
 
 
  
  
	<% @dailies.each do |daily| %>	
	<div class="blog-box-1 grey-background quote">
	  	<div class="date"><p><span><%= daily.today.day %>/</span><%= daily.today.month %>.<%= daily.today.year %><em><%= daily.country %></em></p></div>
	      <% if daily.daily_attachments.length != 0 %>
	      <a><%= image_tag (daily.daily_attachments.sample(1)[0].avatar.thumb.url)%></a>
	      <% end %>
	      <div class="card-body">
	        <h5 class="card-title"><%= daily.title %></h5>
	        
	        <%= link_to 'read more', diary_daily_path(@diary, daily), class:"animsition-link blog-link chaffle" %>
	      </div>
	    </div>
    <% end %>

		<!--<div class="blog-box-1 grey-background video">-->
		<!--	<div class="date"><p><span>28/</span>mar.2015. <em>John Doe</em></p></div>-->
		<!--	<figure class="vimeo"> -->
		<!--		<a href="http://player.vimeo.com/video/112766731">-->
		<!--			<img src="<%#=asset_path 'blog/vimeo.jpg' %>" alt="image" />-->
		<!--		</a>-->
		<!--	</figure>		-->
		<!--	<a href="post.html" class="animsition-link"><h5>icy rocky waves</h5></a>-->
		<!--	<div class="p-box"><p>Vivamus dapibus rutrum. Etiam in nulla arcu, ut vehicula velit.</p></div>-->
		<!--	<a href="post.html" class="animsition-link blog-link chaffle" data-lang="en">read more</a>	-->
		<!--</div>-->

	</div>

</div>
<script> 
(function($) { "use strict";          
			jQuery(document).ready(function() {
				var offset = 350;
				var duration = 500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.scroll-to-top').fadeIn(duration);
					} else {
						jQuery('.scroll-to-top').fadeOut(duration);
					}
				});
				
				jQuery('.scroll-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
})(jQuery);
</script>

<script>
(function($) { "use strict";
	$(document).ready(function() {
	  
	  $(".animsition").animsition({
	  
		inClass               :   'fade-in-right',
		outClass              :   'fade-out-right',
		inDuration            :    600,
		outDuration           :    600,
		linkElement           :   '.animsition-link',
		// e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
		loading               :    true,
		loadingParentElement  :   'body', //animsition wrapper element
		loadingClass          :   'animsition-loading',
		unSupportCss          : [ 'animation-duration',
								  '-webkit-animation-duration',
								  '-o-animation-duration'
								],
		//"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
		//The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
		
		overlay               :   false,
		
		overlayClass          :   'animsition-overlay-slide',
		overlayParentElement  :   'body'
	  });
	  
	});
})(jQuery);
</script>

<script>
(function($) { "use strict";
	$(document).ready(function() {
	  $('.chaffle').chaffle({
		speed: 10,
		time: 60
	  });
	}); 
})(jQuery);
</script>


<script> 
(function($) { "use strict"; 
	$(".blog-box-1").fitVids();	
})(jQuery);
</script>
<script> 
(function($) { "use strict"; 
	$('.vimeo a,.youtube a').click(function (e) {
		e.preventDefault();
		var videoLink = $(this).attr('href');
		var classeV = $(this).parent();
		var PlaceV = $(this).parent();
		if ($(this).parent().hasClass('youtube')) {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe frameborder="0" height="333" src="' + videoLink + '?autoplay=1&showinfo=0" title="YouTube video player" width="547"></iframe>');
		} else {
			$(this).parent().wrapAll('<div class="video-wrapper">');
			$(PlaceV).html('<iframe src="' + videoLink + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=16a085" width="500" height="281" frameborder="0"></iframe>');
		}
	});		
})(jQuery);
</script>

<script>
(function($) { "use strict";
	//Tooltip
	
	$(".tipped").tipper();
})(jQuery);
</script>


<%= render 'shared/modal1' %>
<%= render 'shared/modal2' %>
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<% end %>



