<div class="section section-padding-top-bottom-head">
			
				<div class="parallax-project-7"></div>	
				<!-- 제목 -->
				<div class="container">	
					<div class="sixteen columns">
						<div class="section-head-text left">
							<h2><%=@diary.title %></h2>
							<p><%= @daily.title %></p>
						</div>
					</div>	
				</div>
			  </div>
			  <!-- 제목 끝 -->
			  
			  <!-- 사진  -->
			  <div class="section section-padding-top-bottom grey-background">						
  				<div class="container">		
  				  					<div class="col-md-12">		
  						<div class="blog-box-1 post-page">
  							<div class="date"><p><span><%= @daily.today.day %>/</span><%= @daily.today.month %>.<%= @daily.today.year %> <em><%= @daily.country %></em></p></div>
  						</div>	
  					</div>	
  					<div class="col-md-12">				
  						<div id="owl-project-wrapper">
  							<div class="customNavigation">
  								<a class="prev tipped" data-title="prev"  data-tipper-options='{"direction":"top","follow":"true","margin":30}' ></a>
  								<a class="next tipped" data-title="next"  data-tipper-options='{"direction":"top","follow":"true","margin":30}' ></a>
  							</div>
  							<div id="owl-project" class="owl-carousel owl-theme">
  								     <% @daily_attachments.each do |p| %>
  								    	<div class="item">
                        					<%= image_tag p.avatar_url %>
                        					</div>
                        			<% end %>
                      				
  								</div>
  						</div>	
  					</div>

  					
  				</div>	
				</div>
			
			
      <!-- 글 -->
				<div class="section section-padding-top-bottom white-background">						
				<div class="container">	
					<div class="col-md-12" data-scroll-reveal="enter bottom move 100px over 0.6s after 0.3s">
						<div class="project-block"><p><%= @daily.content.html_safe %></p></div>
					</div>
						<br>
              <%= link_to 'Edit', edit_diary_daily_path(@daily), class: "btn clever-btn animated" %> |
              <%= link_to 'Back', diary_dailies_path, class: "btn clever-btn animated" %> |
              <%= link_to 'Destroy', diary_daily_path, class: "btn clever-btn animated ", method: :delete %> 

            </br>
				</div>	
			</div>

</div>

<!-- 댓글 창 고쳐야함 --> 
<div class="blog-replay-wrapper">
  <h4 class="blog-details-title2">HAVE 2 COMMENTS</h4>


<div class="single-blog-replay">
      <div class="replay-info-wrapper">
          <p>
            <!--댓글 New-->
            <%= form_for(@daily_comment, remote: true ) do |f| %>
              <%= f.text_field :content %>
              <%= f.hidden_field :daily_id, value: @daily.id%>
              <%= f.hidden_field :diary_id, value: @diary.id %> 
              <%= f.hidden_field :user_id, value:  current_user.id %> 
              <%= f.submit %>
            <% end %>
           </p>
      </div>
  </div>
</div>
<!-- 끝 -->

<!--댓글 Show-->
<ul id="daily_comments">
  <% @daily_comments.each do |comment| %>
    <%= render 'daily_comments/comment', comment: comment %>
  <% end %>
</ul>


<!-- 이건 테마 -->
<script>
var form = "";
(function($) { "use strict";	
	$(document).ready(function() {
	
	  var time = 7; // time in seconds
	 
	  var $progressBar,
		  $bar, 
		  $elem, 
		  isPause, 
		  tick,
		  percentTime;
	 
		//Init the carousel
		$("#owl-project").owlCarousel({
			pagination : false,
			slideSpeed : 500,
			paginationSpeed : 500,
			singleItem:true,
			afterInit : progressBar,
			afterMove : moved,
			startDragging : pauseOnDragging			
		});

		
		//Init progressBar where elem is $("#owl-demo")
		function progressBar(elem){
		  $elem = elem;
		  //build progress bar elements
		  buildProgressBar();
		  //start counting
		  start();
		}
	 
		//create div#progressBar and div#bar then prepend to $("#owl-demo")
		function buildProgressBar(){
		  $progressBar = $("<div>",{
			id:"progressBar"
		  });
		  $bar = $("<div>",{
			id:"bar"
		  });
		  $progressBar.append($bar).prependTo($elem);
		}
	 
		function start() {
		  //reset timer
		  percentTime = 0;
		  isPause = false;
		  //run interval every 0.01 second
		  tick = setInterval(interval, 10);
		};
	 
		function interval() {
		  if(isPause === false){
			percentTime += 1 / time;
			$bar.css({
			   width: percentTime+"%"
			 });
			//if percentTime is equal or greater than 100
			if(percentTime >= 100){
			  //slide to next item 
			  $elem.trigger('owl.next')
			}
		  }
		}
	 
		//pause while dragging 
		function pauseOnDragging(){
		  isPause = true;
		}
	 
		//moved callback
		function moved(){
		  //clear interval
		  clearTimeout(tick);
		  //start again
		  start();
		}
	 
		//uncomment this to make pause on mouseover 
		// $elem.on('mouseover',function(){
		//   isPause = true;
		// })
		// $elem.on('mouseout',function(){
		//   isPause = false;
		// })
 	 
	  var owl = $("#owl-project");
	 
	  owl.owlCarousel();
	 
	  // Custom Navigation Events
	  $(".next").click(function(){
		owl.trigger('owl.next');
	  })
	  $(".prev").click(function(){
		owl.trigger('owl.prev');
	  })
	 
	});				
})(jQuery);
</script>

